{% extends "base.html" %}
{% block title %}Orders{% endblock %}
{% block content %}
    <div class="p-3 mx-auto rounded col-md-4">
        <div class="text-center">
            <h5>Товаров в корзине: {{ products|length }}</h5>
            {% if order.status != 'Pending' %}
                <h5>На общую стоимость: {{ order.price }}₽</h5>
            {% endif %}
            <a href="{{ url_for('orders.accept_order', uuid=order.uuid) }}"><button class="btn custom_button">Подтвердить заказ </button></a>
        </div>
    </div>
    <hr class="line">
    <div class="mt-2 p-3">
        {% for product in products %}
            <div class="w-50 row p-3 mx-auto border rounded">
                <div class="col-sm-4">
                    <img class="specific_product_image" src="{{ product.image }}" width="150" height="150">
                </div>
                <div class="col-sm-6">
                    <h5>{{ product.name }}</h5>
                    <br>
                    <h6>{{ product.description }}</h6>
                </div>
                <div class="col-sm-2">
                    <h6>Цена:</h6>
                    <h5>{{ product.price }}₽</h5>
                    <br>
                    <p><a href="{{ url_for('orders.delete_product', uuid=order.uuid, product_uuid=product.uuid) }}"><button class="btn custom_button">Удалить</button></a></p>
                </div>
            </div>
        <p></p>
    {% endfor %}
    </div>
{% endblock %}

