{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="login mx-auto rounded p-3">
            <h4>Сброс пароля</h4>
            <hr class="line">
            <form action="" method="post">
            {{ form.csrf_token }}
            <p class="">
              {{ form.password.label }}<br>
              {{ form.password(class="form-control custom_input", placeholder='Пароль',  maxlength="50") }}
              {% if form.password.errors %}
              {% for error in form.password.errors %}
              <div class="alert alert-danger mx-auto p-3 mt-3" role="alert">
                <spam class="{{ category }}">{{ error }}</spam>
              </div>
              {% endfor %}
              {% endif %}
            </p>
            <p class="">
              {{ form.password_repeat.label }}<br>
              {{ form.password_repeat(class="form-control custom_input", placeholder='Потворите пароль',  maxlength="50")  }}
              {% if form.password_repeat.errors %}
              {% for error in form.password_repeat.errors %}
              <div class="alert alert-danger mx-auto p-3 mt-3" role="alert">
                <spam class="{{ category }}">{{ error }}</spam>
              </div>
              {% endfor %}
              {% endif %}
            </p>
            <hr class="line mt-0 mb-0">
            <div class="row">
                <div class="mx-auto">
                    {{ form.submit(class="btn custom_button mt-3") }}
                </div>
            </div>
            </form>
        </div>
    </div>
{% endblock %}