{% extends "base.html" %}
{% block title %}Добавить товар{% endblock %}
{% block content %}
    <div class="row">
        <div class="rounded add_product p-3 mt-3 mx-auto">
            <form action="" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <p>
              {{ form.birthday_date.label() }}
              {{ form.birthday_date(class="form-control custom_input", placeholder='', type='date', maxlength="50") }}
                {% if form.birthday_date.errors %}
                {% for error in form.birthday_date.errors %}
                <div class="alert alert-danger mx-auto p-3 mt-3" role="alert">
                    <spam class="{{ category }}">{{ error }}</spam>
                </div>
                {% endfor %}
                {% endif %}
            </p>
            <p>
              {{ form.about.label() }}
              {{ form.about(class="form-control custom_input", placeholder='Введите описание', maxlength="200", style="max-height: 100px") }}
                {% if form.about.errors %}
                {% for error in form.about.errors %}
                <div class="alert alert-danger mx-auto p-3 mt-3" role="alert">
                    <spam class="{{ category }}">{{ error }}</spam>
                </div>
                {% endfor %}
                {% endif %}
            </p>
            <p>
              {{ form.image.label() }}
                <br>
              {{ form.image(class="custom_input") }}
                {% if form.image.errors %}
                {% for error in form.image.errors %}
                <div class="alert alert-danger mx-auto p-3 mt-3" role="alert">
                    <spam class="{{ category }}">{{ error }}</spam>
                </div>
                {% endfor %}
                {% endif %}
            </p>
            <hr class="line">
            <div class="row">
                <div class="mx-auto">
                  {{ form.submit(class="btn custom_button mt-3") }}
                </div>
            </div>
            </form>
        </div>
    </div>
{% endblock %}

