{% extends "base.html" %}
{% block title %}Products{% endblock %}
{% block content %}
    <div class="row d-inline-flex">
        {% for product in products %}
        <a class="" style="text-decoration: none" href="{{ url_for('products.product', uuid=product.uuid) }}">
        <div class="product p-3 m-2 border border-primary rounded">
                <p>
                UUID: {{ product.uuid }}
                <p>
                Name: {{ product.name }}
                <p>
                Price: {{ product.price }}
                <p>
                Image: <img class="product_image" src="{{ product.image }}" width="100" height="100">
                <p>
                Descr: {{ product.description }}
        </div>
        </a>
{% endfor %}
    </div>
{% endblock %}

