{% extends "base.html" %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
    <form method="POST">
        <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm specific_product_info row d-inline-flex">
            <img class="specific_product_image m-2" src="{{ product.image }}" width="350" height="350">
                <div class="specific_product_info ml-5">
                    <h5 class="specific_product_part_title mt-3">Наименование товара:</h5>
                    <h3 class="specific_product_name ">{{ product.name }}</h3>
                <br>
                    <h5 class="specific_product_part_title">Категория: </h5>
                    <div class="specific_product_description"><h5>{{ product.categories.name }}</h5></div>
                <br>
                    <h5 class="specific_product_part_title">Описание: </h5>
                    <div class="specific_product_description"><h5>{{ product.description }}</h5></div>
                <br>
                    <h5 class="specific_product_part_title">Стоимость:</h5>
                    <h5 class="">{{ product.price }}<span>₽</span></h5>
                <hr class="line">
                <div class="row">
                    <div class="buy_button col-sm-6 text-center">
                        {% if not is_added %}
                            <p><button class="btn custom_button" value="Buy" name="button">Купить</button></p>
                        {% else %}
                            <p><button class="btn custom_button" value="Buy" name="button">Удалить из корзины</button></p>
                        {% endif %}
                    </div>
                    <div class="buy_button col-sm-2 text-center">
                        {% if session['role'] == 'admin' %}
                            <button class="btn custom_button" name="button" value="Change">Изменить</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    <div class="row">
        <div class="col-md-4">
        </div>
        {% if session['user_id'] %}
        <div class="col-md-4 border rounded p-2 m-1 ml-3">
            <form method="POST">
                {{ comment_form.csrf_token }}
                <p>
                  {{ comment_form.text(class="form-control custom_input",  maxlength="300", style="width: 100%; height: 90px; min-height: 75px") }}
                    {% if comment_form.text.errors %}
                    {% for error in comment_form.text.errors %}
                    <div class="alert alert-danger mx-auto p-3 mt-3" role="alert">
                        <spam class="{{ category }}">{{ error }}</spam>
                    </div>
                    {% endfor %}
                    {% endif %}
                </p>
                <p>
                  {{ comment_form.submit(class="btn custom_button mt-3", value='Написать комментарий') }}
                </p>
            </form>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h5>Комментарии:</h5>
            <div class="mx-auto" id="comments">

            </div>
        </div>
    </div>
{% endblock %}

