<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-sm-2">
            <h5>Имя, Фамилия:</h5>
            <h6 class="font- italic" ng-bind="user['first_name'] + ' ' + user['last_name']"></h6>
            <p>
            <h5>Группа:</h5>
            <h6 class="font-italic" ng-bind="user['group']"></h6>
        </div>
        <div class="col-sm-3">
            <h5>Email:</h5>
            <h6 class="font-italic" ng-bind="user['email']"></h6>
            <p>
            <h5>Личный номер:</h5>
            <h6 class="font-italic" ng-bind="user['student_number']"></h6>
        </div>
        <div class="col-sm-3">
            <div class="p-0 m-0" ng-if="user['birthday_date']">
                <h5>Дата рождения:</h5>
                <h6 class="font-italic" ng-bind="user['birthday_date']"></h6>
                <p>
            </div>
            <div class="p-0 m-0" ng-if="user['about']">
                <h5>О себе:</h5>
                <h6 class="font-italic" ng-bind="user['about']"></h6>
            </div>
        </div>
    </div>
    <br>
<div class="row">
    <div class="col-sm-6">
        <h4 ng-if="!selector">История заказов</h4>
        <table ng-show="!selector" class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Страна</th>
                    <th scope="col">Город</th>
                    <th scope="col">Улица</th>
                    <th scope="col">Почтовый индекс</th>
                    <th scope="col">Общая стоимость</th>
                    <th scope="col">Количество товаров</th>
                    <th scope="col">Дата оформления</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, value) in orders">
                    <th scope="row">{{ $index + 1 }}</th>
                    <td ng-bind="value['country']"></td>
                    <td ng-bind="value['city']"></td>
                    <td ng-bind="value['address']"></td>
                    <td ng-bind="value['post_index']"></td>
                    <td ng-bind="value['price']"></td>
                    <td ng-bind="value['products'].length"></td>
                    <td ng-bind="value['created_date'].slice(4, 16)"></td>
                </tr>
                </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <div class="card-body text-center">
            <h4>Активность пользователя</h4>
            <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
        </div>
        <span ng-bind="createChart(orders.length, products.length, comments.length)"></span>
    </div>
</div>